@font-face {
  font-family: 'Yekan Bakh FaNum';
  src: url('./fonts/YekanBakhFaNum-Regular.ttf') format('trueType'),
       url('./fonts/YekanBakhFaNum-Regular.ttf') format('trueType');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh FaNum';
  src: url('./fonts/YekanBakhFaNum-Regular.ttf') format('trueType'),
       url('./fonts/YekanBakhFaNum-Regular.ttf') format('trueType');
       font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh FaNum';
  src: url('./fonts/YekanBakhFaNum-Regular.ttf') format('trueType'),
       url('./fonts/YekanBakhFaNum-Regular.ttf') format('trueType');
       font-weight: 700;
  font-style: normal;
  font-display: swap;
}