@font-face {
  font-family: 'Yekan Bakh FaNum';
  src: url('../public/font/YekanBakhFaNum-Regular.ttf') format('truetype');
   font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('../public/font/YekanBakhFaNum-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
